util_dmx.VC.db
.vs/util_dmx/v15/ipch/AutoPCH/f3f04dc236542b1b/UTIL_DMX.ipch
.vs/util_dmx/v15/Browse.VC.db
x64/Release/test.dmx
util_dmx/x64/Release/util_dmx.tlog/Lib-link.write.1.tlog
util_dmx/x64/Release/util_dmx.tlog/Lib-link.read.1.tlog
util_dmx/x64/Release/util_dmx.tlog/CL.command.1.tlog
x64/Release/util_dmx.ipdb
x64/Release/new_test.dmx
util_dmx/x64/Release/util_dmx.tlog/Lib.command.1.tlog
util_dmx/x64/Release/util_dmx.tlog/CL.write.1.tlog
x64/Release/util_dmx.iobj
x64/Release/session.dmx
util_dmx/x64/Release/util_dmx.tlog/util_dmx.lastbuildstate
util_dmx/x64/Release/util_dmx.tlog/CL.read.1.tlog
